<div class="product-container">
    <img class="product-image" src={{product.url}} (click)="showProductDetails(product)" />
    <div>{{product.name}}</div>
    <div>$ {{product.price}}</div>
    <div>{{product.description}}</div>

    <select class="select-input" [(ngModel)]='product.quantity' (ngModelChange)="changeQuantity($event)">
        <option class='option' *ngFor='let quantity of quantities' [value]="quantity">{{ quantity }}</option>
    </select>
    <button class="addToCartBtn" type="button" (click)="addToCart(product)">Add to cart</button>
</div>
